apparmor==4.0.3
argcomplete==3.5.1
bcrypt==4.2.0
Brlapi==0.8.6
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cmdln==2.0.0
configobj==5.0.8
createrepo_c==1.1.0
cryptography==43.0.3
cupshelpers==1.0
decorator==5.1.1
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.10
LibAppArmor==4.0.3
louis==3.31.0
mysqlclient==2.2.6
nftables==0.1
notify2==0.3.1
packaging==24.2
pipx==1.7.1
platformdirs==4.3.6
psutil==6.1.0
pycairo==1.26.1
pycparser==2.22
pycups==2.0.4
pycurl==7.45.3
pygdbmi==0.11.0.0
PyGObject==3.50.0
pyOpenSSL==24.2.1
PyQt6==6.8.0.dev2410061818
PyQt6-WebEngine==6.7.0
PyQt6_sip==13.8.0
pysmbc==1.0.25.1
PySocks==1.7.1
python-linux-procfs==0.7.3
pyudev==0.24.3
requests==2.32.3
six==1.16.0
urllib3==2.2.3
userpath==1.9.2
zapzap==5.3
zstandard==0.22.0
